*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    /*background-color: #212121FA;*/
}

@media screen and (max-width: 320px) {
    header{
        width: 100%;
        height: 5rem;
        font-size: 5rem;
        background-color: #212121FA;
        color: whitesmoke;
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        padding-left: 1rem;
        padding-right: 1rem;
        position: fixed;
        top: 0;
    }
    header div p{
        height: 100%;
    }

    header div{
        height: 3rem;
    }

    header div img{
        width: 50%;
        height: 65%;
    }

    .logo{
        grid-column: 2/4;
        height: 70%;
    }
    .log-in{
        grid-column: 8/10;
        margin: 0.8rem 0.8rem 0.8rem 0.4rem;
    }
    .sign-in{
        color:rgb(96, 190, 248);
        border: solid 0.1rem rgb(96, 190, 248);
        font-size: 1rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 0.8rem;
    }
    
    .recomendations{
        margin-top: 5rem;
        width: 100%;
        height: 3.5rem;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        background-color: #212121FA;
        color: whitesmoke;
        border-top:solid 0.1rem  #3d3d3d;
        border-bottom:solid 0.1rem  #3d3d3d;
    }
    .item-recomendations{
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 2rem;
        background-color: #4b4b4b;
        padding: 0.2rem 0.8rem;
        border-radius: 1rem; 
    }

    .item-recomendations p{
        
        font-weight:500;
        font-size: 0.7rem;
        background-color: #4b4b4b;
    }

    .side{
        display: none;
    }

    .content{
        display: flex;
        flex-direction: column;
        background-color: #161616fa;
        color: #717171;
        justify-content: space-around;
        align-items: center;
    }
    .videos{
        height: 16rem;;
        width: 85%;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
    img{
        width:60%;
        height: 40%;
    }
    .videos img{
        width: 100%;
        height: 80%;
    }
    .text-inside{
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: 1fr 1fr;
    }
    .text-inside img{
        grid-column: 1/2;
        grid-row: 1/2;
        height: 2rem; width: 2rem;
        border-radius: 1rem;
        margin-left: 0.1rem;
        margin-top: 0.3rem;
    }

    .titulos{
        grid-column: 2/8;
        grid-row: 1/2;
        font-size: 1rem;
        margin-top: 0.3rem;
        color: whitesmoke;
    }
    .info{
        grid-column: 2/8;
        grid-row: 2/3;
        font-size: 1.2rem;
    }
    .info p{
        margin-bottom: 0.2rem;
    }
}










@media screen and (min-width: 321px) and (max-width: 480px) {
    header{
        width: 100%;
        height: 5rem;
        font-size: 5rem;
        background-color: #212121FA;
        color: whitesmoke;
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        padding-left: 1rem;
        padding-right: 1rem;
        position: fixed;
        top: 0;
    }
    header div p{
        height: 100%;
    }



    header div{
        height: 3rem;
    }

    header div img{
        width: 40%;
        height: 60%;
    }

    .logo{
        grid-column: 2/4;
        height: 85%;
    }
    .log-in{
        grid-column: 8/10;
        margin: 0.8rem 0.8rem 0.8rem 0.4rem;
    }
    .sign-in{
        color:rgb(96, 190, 248);
        border: solid 0.1rem rgb(96, 190, 248);
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 0.8rem;
    }
    .recomendations{
        position: fixed;
        top: 5rem;
        width: 100%;
        height: 3.5rem;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        background-color: #212121FA;
        color: whitesmoke;
        border-top:solid 0.1rem  #3d3d3d;
        border-bottom:solid 0.1rem  #3d3d3d;
    }
    .item-recomendations{
        height: 2rem;
        
        display: flex;
        justify-content: center;
        align-items: center;
        
        min-width: 2rem;
        background-color: #4b4b4b;
        padding: 0.2rem 0.8rem;
        border-radius: 1rem;
        
        /*
        border-radius: 1rem;
        background-color: #3d3d3d;
        border: solid 1rem #4b4b4b;  */  
    }

    .item-recomendations p{
        font-weight:500;
        font-size: 0.7rem;
    }

    .side{
        display: none;
    }

    .content{
        margin-top: 8.5rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: #161616fa;
        color: #717171;
        justify-content: space-around;
        padding-left: 10%;
    }
    .videos{
        height: 14rem;;
        width: 90%;
        margin-top: 1.7rem;
        margin-bottom: 1.7rem;
    }
    img{
        width:60%;
        height: 40%;
    }
    .videos img{
        width: 100%;
        height: 80%;
    }
    .text-inside{
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: 1fr 1fr;
    }
    .text-inside img{
        grid-column: 1/2;
        grid-row: 1/2;
        height: 2rem; width: 2rem;
        border-radius: 1rem;
        margin-left: 0.1rem;
        margin-top: 0.3rem;
    }

    .titulos{
        grid-column: 2/8;
        grid-row: 1/2;
        font-size: 0.9rem;
        margin-top: 0.3rem;
        color: whitesmoke;
    }
    .info{
        grid-column: 2/8;
        grid-row: 2/3;
        font-size: 1.2rem;
        
    }
    .info p{
        margin-bottom: 0.2rem;
    }

}
















@media screen and (min-width: 481px) and (max-width: 768px) {
    header{
        width: 100%;
        height: 5rem;
        font-size: 5rem;
        background-color: #212121FA;
        color: whitesmoke;
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        padding-left: 1rem;
        padding-right: 1rem;
        position: fixed;
        top: 0;
    }
    header div p{
        height: 100%;
    }



    header div{
        height: 3rem;
    }

    header div img{
        width: 30%;
        height: 60%;
    }

    .logo{
        grid-column: 2/4;
        height: 85%;
    }
    .log-in{
        grid-column: 8/10;
        margin: 0.8rem 0.8rem 0.8rem 0.4rem;
    }
    .sign-in{
        color:rgb(96, 190, 248);
        border: solid 0.1rem rgb(96, 190, 248);
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 0.8rem;
    }
    .recomendations{
        position: fixed;
        top: 5rem;
        width: 100%;
        height: 3.5rem;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        background-color: #212121FA;
        color: whitesmoke;
        border-top:solid 0.1rem  #3d3d3d;
        border-bottom:solid 0.1rem  #3d3d3d;
    }
    .item-recomendations{
        height: 2rem;
        
        display: flex;
        justify-content: center;
        align-items: center;
        
        min-width: 2rem;
        background-color: #4b4b4b;
        padding: 0.2rem 0.8rem;
        border-radius: 1rem;
        
        /*
        border-radius: 1rem;
        background-color: #3d3d3d;
        border: solid 1rem #4b4b4b;  */  
    }

    .item-recomendations p{
        font-weight:500;
        font-size: 0.7rem;
    }

    .main-side{
        display: grid;
        grid-template-columns: repeat(14, 1fr);
        margin-top: 8.5rem;
    }
   
    .side{
        grid-column: 1/2;
        position: fixed;
        left: 0;
        top: 8.5rem;
        /*background-color: #212121FA;
        color: whitesmoke;
        font-size: 3rem;
        width: 4.3%;*/
    }

    .content{
        
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        background-color: #161616fa;
        color: #717171;
        padding-left: 4%;
        grid-column: 2/15;
    }
    .videos{
        height: 14rem;;
        width: 90%;
        margin-top: 1.7rem;
        margin-bottom: 1.7rem;
    }
    img{
        width:60%;
        height: 40%;
    }
    .videos img{
        width: 100%;
        height: 80%;
    }
    .text-inside{
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: 1fr 1fr;
    }
    .text-inside img{
        grid-column: 1/2;
        grid-row: 1/2;
        height: 2rem; width: 2rem;
        border-radius: 1rem;
        margin-left: 0.1rem;
        margin-top: 0.3rem;
    }

    .titulos{
        grid-column: 2/8;
        grid-row: 1/2;
        font-size: 0.9rem;
        margin-top: 0.3rem;
        color: whitesmoke;
    }
    .info{
        grid-column: 2/8;
        grid-row: 2/3;
        font-size: 1.2rem;
        
    }
    .info p{
        margin-bottom: 0.2rem;
    }
}











@media screen and (min-width: 769px) {
    header{
        width: 100%;
        height: 6rem;
        font-size: 5rem;
        background-color: #212121FA;
        color: whitesmoke;
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        padding-left: 1rem;
        padding-right: 1rem;
        position: fixed;
        top: 0;
    }
    header div p{
        height: 100%;
    }

    header div{
        height: 3rem;
    }

    header div img{
        width: 20%;
        height: 60%;
    }

    .logo{
        grid-column: 2/4;
        height: 85%;
    }
    .log-in{
        grid-column: 8/10;
        margin: 0.8rem 0.8rem 0.8rem 0.4rem;
    }
    .sign-in{
        color:rgb(96, 190, 248);
        border: solid 0.1rem rgb(96, 190, 248);
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 0.8rem;
    }
    .recomendations{
        position: fixed;
        top: 6rem;
        width: 100%;
        height: 5rem;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        background-color: #212121FA;
        color: whitesmoke;
        border-top:solid 0.1rem  #3d3d3d;
        border-bottom:solid 0.1rem  #3d3d3d;
    }
    .item-recomendations{
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 7.5rem;
        background-color: #4b4b4b;
        padding: 0.2rem 0.8rem;
        border-radius: 1.5rem;  
    }

    .item-recomendations p{
        font-weight:400;
        font-size: 1.5rem;
    }

    .main-side{
        margin-top: 11rem;
        display: grid;
        grid-template-columns: repeat(14, 1fr);
    }
    .side{
        grid-column: 1/3;
        position: fixed;
        left: 0;
        background-color: #212121FA;
        color: whitesmoke;
        font-size: 5rem;
        width: 14.3%;
    }

    .side ul{
        display: grid;
        grid-template-columns: 5;
        justify-content: center;
        border-bottom:solid 0.1rem #717171;
    }

    .side li{
        list-style: none;
        margin-top: 2rem;
        margin-bottom: 2rem;
        grid-column: 2/6;
    }

    .content{
        
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        background-color: #161616fa;
        color: #7e7e7e;
        justify-content: space-around;
        padding-left: 2%;
        grid-column: 3/15;
    }
    .videos{
        height: 22rem;;
        width: 94%;
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
    }
    img{
        width:60%;
        height: 40%;
    }
    .videos img{
        width: 100%;
        height: 80%;
    }
    .text-inside{
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: 1fr 1fr;
    }
    .text-inside img{
        grid-column: 1/2;
        grid-row: 1/2;
        height: 3.4rem; width: 3.4rem;
        border-radius: 1.7rem;
        margin-left: 0.1rem;
        margin-top: 0.5rem;
    }

    .titulos{
        grid-column: 2/8;
        grid-row: 1/2;
        font-size: 1.4rem;
        margin-top: 0.5rem;
        color: whitesmoke;
    }
    .info{
        grid-column: 2/8;
        grid-row: 2/3;
        font-size: 1.8rem;
        padding-left: 0.2rem;
    }
    .info p{
        margin-bottom: 0.5rem;
    }

    


}